@font-face {
    font-family:'RedHatDisplay';
    font-style: normal;
    font-weight: 300 900;
    font-display:swap;
    src: local('RedHatDisplay'),
    url(../assets/fonts/red-hat-display_style-normal_size-300-900.woff2) format('woff2'),
  }