// Colors
$clr-grayish-cyan: rgb(77, 150, 169);
$clr-grayish-cyan-light: rgb(113, 192, 212);
$clr-violette: rgb(133, 95, 177);
$clr-violette-semilight: rgb(177, 139, 221);
$clr-violette-light: rgb(217, 184, 255);
$clr-black: rgb(40, 40, 61);
$clr-azure-light: rgb(143, 227, 249);
$clr-white: rgb(250, 250 ,250);
$clr-grey: rgb(135, 135, 157);
$clr-grey-opacity025: rgba(135, 135, 157, 0.25);
$clr-grey-opacity05: rgba(135, 135, 157, 0.5);

// Typography
$fs-paragraph: 18px;

